Question:1
characteristics:-
1. Tuples are ordered elements or values that can't be "mutable"
2. Tuples stores teh duplicate values
3. The values in tuples can be of one data type or a mix of data types

Yes. Tuples are immutable

--------------------------------------------------------------------------------------------------------------------------------------

In [4]:
# Question:2
#Two methods of tuple
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5) # Returns the presence of the number of times a specified value
x = thistuple.index(8) # Returns the position of the element in the tuple
print(x)

""" 
 Lists can be mutable. So it allows the mutable methods o happen to its container. Coming to the tuples, we can't maipulate the values 
 inside he tuple but it allows to make a count and fetch the value at with the desired position. 
"""

3

" \n Lists can be mutable. So it allows the mutable methods o happen to its container. Coming to the tuples, we can't maipulate the values \n inside he tuple but it allows to make a count and fetch the value at with the desired position. \n"

--------------------------------------------------------------------------------------------------------------------------------------

Question:3
Set is the data type type that does not allows to duplicate the elements

In [5]:
#Question:3
lst = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
st = set(lst)
print(st)

{1, 2, 3, 4}

--------------------------------------------------------------------------------------------------------------------------------------

Question:4
union() returns a set containing the union of sets
update() updates a set with another set or any other iterable.

In [7]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)
x.update(y)

print(z)
print(x)

{'cherry', 'google', 'banana', 'microsoft', 'apple'}
{'cherry', 'google', 'banana', 'microsoft', 'apple'}

--------------------------------------------------------------------------------------------------------------------------------------

Question:5
Dictionaries are used to store data values in key:value pairs.
A dictionary is a collection which is ordered, changeable and do not allow duplicates.
example:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

-----------------------------------------------------------------------------------------------------------------------------------------

In [8]:
#Question:6
dictionary = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print (dictionary)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

-------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
Question:7
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
p = dict1.setdefault('topics':'['Python', 'Machine Learningâ€™, 'Deep Learning']')
print(p)

-------------------------------------------------------------------------------------------------------------------------------------------

Question:8
view objects of dictionary in python are 'keys, values and items'

In [ ]:
dict2 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict2.keys())
print(dict2.values())

-------------------------------------------------------------------------------------------------------------------------------------------